/* a little css  to improve it visually */

body {
    font-family: "Georgia", "Arial", sans-serif;
    font-size: 2.0rem;

}

.boats {
    background-color: bisque;
}

.groupinfo {
    background-color: beige;
}

footer {
    text-align: center;
    color: teal;
}

/* color the jumbotron */
.jumbotron {
    background-color: #D4DDF7;
}


/* shrink the alert box */
.alert {
    padding-bottom: 0;
    padding-top: 0;
    color: red;
    text-align: center;
}

/* validate error text
 */
.error {
       color: deeppink;
}

div {
    text-align: left;
}

/* input type number does not allow size attribute */
input[type=number] {
    width: 60px;
}

H2, th{
    text-align: center
}

/* footer for logout */
.footer {
    position: fixed;
    left: 1;
    bottom: 0;
    width: 100%;
    background-color: #D4DDF7;
    color: white;
    text-align: center;
}





